/* style.css © Penguin_Spy 2024
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;
}

body {
  background-color: light-dark(#ffffff, #23222b); /* matches firefox's addon card settings page so the options blend in nicely */
  color: light-dark(rgb(21, 20, 26), rgb(251,251,254));
  margin: 0;
  height: 100vh;
}

main.centered {
  width: fit-content;
  margin: auto;
}

main.options {
  padding: 16px 8px;
}

textarea, input {
  display: block;
  margin-bottom: 2em;
  resize: none;
}
